* {
   outline: 1px solid #effaff;
}


body {
   overflow-x: hidden;
}

div, header, footer, article, section, aside {
   /*h100%*/
   height: 100%;
}

/*********** RESETS ***********/


nav {
   ul {
      margin: 0;
      padding: 0;
      li {
         list-style: none;
      }
   }
}




/*********** POR ACOMODAR: ***********/




.contenido {

   iframe, img {
      width: 100%;
      margin: $spacing * 2 0;
   }

}


.imagen_fondo_fx1 {
   filter: brightness(120%) contrast(110%);
   opacity: 0.35;
}


h1,h2,h3,h4,h5,h6 {
   font-family: 'Lato', sans-serif;
}
* {
   font-family: 'Open Sans', sans-serif;
}
* {
   font-weight: 400 !important;
}
h1,h2,h3,h4,h5,h6 {
   font-weight: 100 !important;
}




/* LAYOUT */

#menu {

   &,nav,ul {
      @media screen and ( min-width:1024px ) {
         height: 90vh;
      }
   }

   nav {


      &,ul,li {
         position: relative;
         width: 100%;
      }
   }
}



/*******+ ANIMACIONES **************/

#menu-boton {
   transition: display 0.3s;
}



#portada {
   height: calc(100vh - 3em);
}

.h_3em {
   height: 3em;
}
