
* {
   // outline: 1px solid #effaff;
}
.vcenter {
   // outline: 1px solid #fa0;
}


body {
   overflow-x: hidden;
}

div, header, footer, article, section, aside {
   /*h100%*/
   height: 100%;
}

/*********** RESETS ***********/



ul {
   margin: 0;
   padding: 0;
   li {
      list-style: none !important;
   }
}

li {
   list-style: none !important;
}

img, iframe, .wp-caption {
   width: 100% !important;
}



/*********** POR ACOMODAR: ***********/




.contenido {

   iframe, img {
      width: 100%;
      margin: $spacing * 2 0;
   }

}


.imagen_fondo_fx1 {
   filter: brightness(120%) contrast(110%);
   opacity: 0.35;
}



/* ************** TIPOGRAFÃAS ************** */

h1,h2,h3,h4,h5,h6 {
   font-family: 'Lato', sans-serif;
}
div, p, li, i {
   font-family: 'Lato', sans-serif;
}
* {
   font-weight: 100 !important;
}
h1,h2,h3,h4,h5,h6 {
   font-weight: 100 !important;
}

.wp-caption-text {
   @extend  .fontM;
   @extend .mb2;
}


/* LAYOUT */



#menu {

   &,nav,ul {
      @media screen and ( min-width:1024px ) {
         height: 80vh;
      }
   }

}



#principal  {
   &>section {
      margin-bottom: $spacing*4 !important;
   }
}






.reticula-informacion {

   min-height: 80vh;
   height: 100vh;

}


.h_100min {
   min-height: 100%;
}

.h_100vhmin {
   min-height: 100vh;
}


.contenido {
   img, iframe, .wp-caption {
      width: 100%;
   }
}






/*******+ ANIMACIONES **************/

#menu-boton {
   transition: display 0.3s;
}


//
// #portada {
//    height: calc(100vh - 3em);
// }

.h_3em {
   height: 3em;
}

.h_5em {
   height: 5em;
}


form,
.woocommerce-info,
.woocommerce-billing-fields {
   &,* {
      height: auto !important;
   }
}










.add_repeatable {

   margin: $spacing 0;

}




/* COLORES */
* {
   color: #111;
}
a {
   color: #000;
   transition: color 0.3s ease-in-out;
   &:hover {
      color: #333;
   }
}

#principal {
   &>section {
      background-color: #f3f3f3;
   }
}
.slick-arrow {
   &,&:before,* {
      color: $primario !important
   }
}



.cortina {
   background-color: rgba( 255, 255, 255, 0.5 ) !important;
}



.ls2 {
   letter-spacing: 2px;
}



.font1 {
   font-family: 'Lato', sans-serif !important;
}

.font2 {
   font-family: 'Open Sans', sans-serif !important;
}




.bold {
   font-weight: 400 !important;
}

.extrabold {
   font-weight: 600 !important;
}


.txsh {
   text-shadow: 1px 1px 1px #666;
}
